<vt_frag vt_imports="['components/header/vt_nav.html']">
    <header id="header-top" class="header-top">
        <ul style="display: flex; justify-content: space-between;">
            <li>

            </li>
            <li class="head-responsive-right pull-right">
                <div class="header-top-right">
                    <ul>
                        <li class="header-top-contact">
                            <a href="mailto:{email}">
                                {email}
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </header>
    <vt_nav sign="{sign}" />
</vt_frag>