<vt_frag vt_imports="['components/header/vt_nav.html']">
    <header id="header-top" class="header-top">
        <ul>
            <li>
                <div class="header-top-left">
                    <ul>
                        <li class="select-opt">
                            <select name="language" id="language">
                                <option value="default">EN</option>
                                <option value="Bangla">BN</option>
                                <option value="Arabic">AB</option>
                            </select>
                        </li>
                        <li class="select-opt">
                            <select name="currency" id="currency">
                                <option value="usd">USD</option>
                                <option value="euro">Euro</option>
                                <option value="bdt">BDT</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="head-responsive-right pull-right">
                <div class="header-top-right">
                    <ul>
                        <!-- <li class="header-top-contact">
                            {phone}
                        </li> -->
                        <li class="header-top-contact">
                            <a href="mailto:{email}">
                                {email}
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </header>
    <vt_nav />
</vt_frag>
