<div class="single-testimonial-box">
    <div class="testimonial-description">
        <div class="testimonial-info">
            <div class="testimonial-img">
                <img height="50px" src="{avatar}" alt="clients">
            </div><!--/.testimonial-img-->
            <div class="testimonial-person">
                <h2>{location}</h2>
                <h4>{name}</h4>
                <div class="testimonial-person-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div><!--/.testimonial-person-->
        </div><!--/.testimonial-info-->
        <div class="testimonial-comment">
            <p>
                {review}
            </p>
        </div><!--/.testimonial-comment-->
    </div><!--/.testimonial-description-->
</div><!--/.single-testimonial-box-->
