<section id="about" class="works">
    <div class="container">
        <div class="section-header">
            <h2>About Us</h2>
            <p>
                Established in 2013, Alghurabi Manpower Services LLC (AMS) has swiftly grown into a leading manpower
                company, catering to the recruitment needs of clients across the Gulf region, Europe, and the African
                continent. With a strong commitment to excellence and a customer-centric approach, AMS has earned a
                reputation for delivering top-notch recruitment solutions tailored to the specific needs of its diverse
                clientele.
            </p>
        </div><!--/.section-header-->
        <div class="works-content">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-works">
                        <div class="single-how-works-icon">
                            <i class="flaticon-lightbulb-idea"></i>
                        </div>
                        <h2>Comprehensive Expertise:</h2>
                        <p>
                            AMS possesses extensive expertise in the recruitment field, covering a wide
                            range of industries and job categories. From engineering and construction to hospitality, healthcare, IT,
                            and beyond, AMS has the knowledge and experience to source top talent across various sectors.
                        </p>
                        <!-- <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                            read more
                        </button> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-works">
                        <div class="single-how-works-icon">
                            <i class="flaticon-networking"></i>
                        </div>
                        <h2>Proactive Talent Sourcing</h2>
                        <p>
                            AMS employs proactive talent sourcing strategies to identify and engage top
                            talent before they become actively seeking employment. Through targeted outreach, networking
                            events, and talent mapping exercises, AMS stays ahead of the curve in identifying potential candidates
                            for its clients.
                        </p>
                        <!-- <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                            read more
                        </button> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-works">
                        <div class="single-how-works-icon">
                            <i class="flaticon-location-on-road"></i>
                        </div>
                        <h2>Branch Network:</h2>
                        <p>
                            AMS has established a robust network of branches across key locations in the Gulf
                            region and the African continent to better serve its clients and candidates. With strategically located
                            offices in UAE, Qatar, Bahrain, Oman, Saudi Arabia, Kuwait, Kurdistan, and select African countries, AMS
                            ensures local presence and personalized service delivery.
                        </p>
                        <!-- <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                            read more
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.container-->

</section><!--/.works-->
