<section id="list-topics" class="list-topics">
    <div class="container">
        <div class="list-topics-content">
            <ul>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <!-- <i class="flaticon-restaurant"></i> -->
                            <img width="50px" src="assets/svgs/hospitality.svg" alt="hospitality"/>
                        </div>
                        <h2><a href="#">Hospitality Staff</a></h2>
                        <p>Chefs, waiters, <br> housekeepers, etc...</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <!-- <i class="flaticon-travel"></i> -->
                            <img width="50px" src="assets/svgs/trades.svg" alt="Skilled Tradespeople" />
                        </div>
                        <h2><a href="#">Skilled Tradespeople</a></h2>
                        <p>Electricians, plumbers, <br> carpenters, etc...</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <!-- <i class="flaticon-building"></i> -->
                            <img width="50px" src="assets/svgs/construction.svg" alt="Construction Workers" />
                        </div>
                        <h2><a href="#">Construction Workers</a></h2>
                        <p>Masons, welders, <br> laborers, etc...</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <!-- <i class="flaticon-pills"></i> -->
                            <img width="50px" src="assets/svgs/health.svg" alt="Healthcare Professionals" />
                        </div>
                        <h2><a href="#">Healthcare Professionals</a></h2>
                        <p>Doctors, nurses, <br> caregivers, etc...</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <!-- <i class="flaticon-transport"></i> -->
                            <img width="50px" src="assets/svgs/admin.svg" alt="Office Administrators" />
                        </div>
                        <h2><a href="#">Office Administrators</a></h2>
                        <p>Receptionists, secretaries, <br> data entry operators, etc...</p>
                    </div>
                </li>
            </ul>
        </div>
    </div><!--/.container-->

</section><!--/.list-topics-->
