<!doctype html>
<html class="no-js" lang="en" vt_imports="['components/misc/vt_links.html', 'components/misc/vt_scripts.html']">
<head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- links -->
    <vt_links />

    <!-- title of site -->
    <title>{title}</title>

</head>

<body>
    <vt_child />

    <vt_scripts />
</body>

</html>
