<!--contact us start -->
<section id="contact" class="subscription">
    <div class="container">
        <div class="subscribe-title text-center">
            <h2>
                Want to connect with Alghurabi Manpower Services LLC?
            </h2>
            <p>
                Reach out to us for any inquiries or to explore partnership opportunities.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="subscription-input-group">
                    <form action="#">
                        <input type="email" class="subscription-input-form" placeholder="Enter your email here">
                        <button class="appsLand-btn subscription-btn" onclick="window.location.href='#'">
                            Send Message
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section><!--/contact us end -->
<!--contact us end -->
