<div class=" col-md-4 col-sm-6">
    <div class="single-explore-item">
        <div class="single-explore-img">
            <img src="assets/images/projects/{img}" alt="explore image">
        </div>
        <div class="single-explore-txt bg-theme-1">
            <h2><a href="{link}">{title}</a></h2>
            <div class="explore-person">
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            {description}
                        </p>
                    </div>
                    <div class="col-sm-12 manpower">
                        <strong>Human Resource Provided:</strong>
                        <p>{manpower}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
